<launch>
  <!-- Start robot base -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

  <!-- Start Astra camera (RGB + Depth) -->
  <include file="$(find astra_camera)/launch/astra.launch"/>

  <!-- Ball follower node -->
  <node name="ball_follower"
        pkg="p2_chang"
        type="p2b_follow.py"
        output="screen"
        launch-prefix="bash -c 'sleep 5; $0 $@'"/>
</launch>